.chat_send-message {
  border-top: 1px solid rgba(0, 0, 0, 0.093); }

.channel_chat .chat_header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.093); }

.profile .profile_main-info .profile_send-message .message_btn, .profile .profile_main-info .profile_send-message .other_btn {
  color: white;
  font-size: 15px;
  font-weight: 500;
  background: #3577EF;
  border-radius: 5px;
  border: 0px;
  transition-duration: 0.3s;
  height: 30px; }

.page {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  width: 100%;
  height: 953; }

.logo {
  display: flex;
  transition-duration: 0.3s;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
  margin: 25 auto;
  width: 55px;
  height: 55px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  opacity: 0.4; }

.groups {
  max-width: 90px;
  min-width: 90px;
  background: -webkit-linear-gradient(45deg, black, #555c5c); }
  .groups .group_list {
    width: 100%;
    height: 85%; }
    .groups .group_list .logo:hover {
      transition-duration: 0.3s;
      opacity: 1; }
  .groups .group_add {
    width: 100%;
    height: 15%; }
    .groups .group_add .logo {
      font-family: Arial, Helvetica, sans-serif;
      background-color: #3b3b3b;
      font-size: 40px;
      font-weight: 10; }
    .groups .group_add .logo:hover {
      transition-duration: 0.3s;
      opacity: 1; }

.clr__red {
  background-color: red; }

.clr__green {
  background-color: green; }

.clr__gold {
  background-color: gold; }

.clr__purple {
  background-color: purple; }

.clr__brown {
  background-color: brown; }

.clr__orange {
  background-color: orange; }

.clr__pink {
  background-color: pink; }

.current_group_window {
  width: 300px;
  min-width: 300px;
  background: -webkit-linear-gradient(45deg, #252525, #9ca1a1);
  color: #d8d7d7;
  font-size: 20px; }
  .current_group_window .group_header {
    height: 150px;
    margin-bottom: 50px; }
    .current_group_window .group_header .group_ico {
      width: 25px;
      height: 25px;
      filter: invert(90%);
      transform: scale(-1, 1);
      padding-left: 10px; }
    .current_group_window .group_header .group_info {
      height: 80%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .current_group_window .group_header .group_info .group_name {
        color: white;
        padding: 0 20px;
        width: 80%;
        font-size: 35px;
        font-weight: 500; }
      .current_group_window .group_header .group_info .group_settings {
        width: 20%; }
    .current_group_window .group_header .group_other {
      display: flex;
      justify-content: left;
      align-items: center;
      height: 20%;
      padding: 0 20px; }
  .current_group_window .block_name_with_amount {
    display: flex;
    height: 30px;
    align-items: center;
    text-transform: uppercase; }
    .current_group_window .block_name_with_amount .block_name {
      width: 80%;
      padding: 0 20px; }
    .current_group_window .block_name_with_amount .block_amount {
      width: 20%; }
  .current_group_window .group_channels {
    height: 350px;
    min-height: 300px;
    max-height: 350px;
    font-weight: 500; }
    .current_group_window .group_channels .channels_list {
      overflow-y: scroll;
      height: 320px;
      min-height: 200px;
      max-height: 320px; }
      .current_group_window .group_channels .channels_list .channel_info {
        margin: 5px 0px 0px 40px;
        padding: 5px 0px 0px 10px;
        transition-duration: 0.2s;
        width: 80%;
        height: 30px; }
        .current_group_window .group_channels .channels_list .channel_info:hover {
          transition-duration: 0.2s;
          background-color: #b7b5b5;
          border-radius: 5px; }
  .current_group_window .group_friends .friends_list {
    overflow-y: scroll;
    max-height: 300px; }
    .current_group_window .group_friends .friends_list .friends_info {
      transition-duration: 0.3s;
      height: 50px;
      margin: 20px 0px 0px 20px;
      display: flex;
      align-items: center; }
      .current_group_window .group_friends .friends_list .friends_info .friends_photo {
        padding-left: 15px; }
        .current_group_window .group_friends .friends_list .friends_info .friends_photo img {
          width: 50px;
          height: 50px;
          border-radius: 10px; }
      .current_group_window .group_friends .friends_list .friends_info .friends_nickname {
        padding-left: 15px; }
      .current_group_window .group_friends .friends_list .friends_info:hover {
        transition-duration: 0.3s;
        background-color: #b7b5b5;
        border-radius: 5px; }

.channel_chat {
  width: 100%;
  max-width: 100%;
  min-width: 400px; }
  .channel_chat .chat_header {
    color: #bbbaba;
    font-size: 20px;
    height: 95.3;
    display: flex;
    align-items: center;
    padding-left: 35px; }
    .channel_chat .chat_header .chat_name {
      width: 50%;
      font-weight: 700;
      color: black;
      font-size: 30px; }
    .channel_chat .chat_header .others_chat_options {
      display: flex; }
      .channel_chat .chat_header .others_chat_options .people_in_chat {
        display: flex;
        padding-top: 5px; }
        .channel_chat .chat_header .others_chat_options .people_in_chat img {
          width: 15px;
          height: 15px;
          padding-right: 5px; }
      .channel_chat .chat_header .others_chat_options .search_in_chat {
        margin: 0 0 0 50px;
        display: flex;
        align-items: center;
        width: 300px;
        border: 1px solid #bfbfbf;
        border-radius: 5px; }
        .channel_chat .chat_header .others_chat_options .search_in_chat input {
          width: 100%;
          padding: 10px 0 10px 10px;
          margin: 0 0 0 10px;
          border: 0px;
          outline: none; }
        .channel_chat .chat_header .others_chat_options .search_in_chat img {
          width: 30px;
          height: 30px; }
      .channel_chat .chat_header .others_chat_options .notif_and_info {
        margin-left: 30px;
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .channel_chat .chat_header .others_chat_options .notif_and_info img {
          padding-left: 10px;
          width: 25px;
          height: 25px;
          filter: invert(40%); }
        .channel_chat .chat_header .others_chat_options .notif_and_info .bell {
          position: relative; }
    @media (max-width: 1380px) {
      .channel_chat .chat_header {
        margin-left: 30px;
        display: block; } }

.chat-messages {
  overflow-y: scroll;
  height: 790.99; }
  .chat-messages .message {
    margin: 20px 0 20px 10px;
    display: flex; }
    .chat-messages .message .profile_photo {
      width: 50px;
      padding: 0 20px 0 10px; }
      .chat-messages .message .profile_photo img {
        width: 50px;
        height: 50px;
        border-radius: 10px; }
    .chat-messages .message .date-info {
      display: flex;
      align-items: center;
      width: 100%;
      color: rgba(0, 0, 0, 0.329); }
      .chat-messages .message .date-info .left-line, .chat-messages .message .date-info .right-line {
        height: 1px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.093); }
      .chat-messages .message .date-info .date-text {
        padding: 0 15px;
        white-space: nowrap; }
    .chat-messages .message .message-info {
      display: inline; }
      .chat-messages .message .message-info .message-header {
        font-size: 14px;
        display: flex; }
        .chat-messages .message .message-info .message-header .name {
          font-weight: 600; }
        .chat-messages .message .message-info .message-header .time {
          padding: 0 0 0 10px;
          color: #bbbaba; }
      .chat-messages .message .message-info .text-info {
        font-size: 17px; }
      .chat-messages .message .message-info .images-info {
        display: flex; }
        .chat-messages .message .message-info .images-info .attached_photo {
          position: relative;
          width: 200px;
          height: 150px;
          border-radius: 5px; }

.chat_send-message {
  height: 63.287;
  display: flex;
  align-items: center;
  width: 100%; }
  .chat_send-message .send-message {
    width: 100%; }
    .chat_send-message .send-message input {
      width: 100%;
      font-size: 15px;
      padding: 10px 0 10px 10px;
      margin: 0 0 0 10px;
      border: 0px;
      outline: none; }
  .chat_send-message .send-message-functions {
    display: flex;
    align-items: center; }
  .chat_send-message .send_reaction {
    margin-right: 30px; }
  .chat_send-message img {
    padding-left: 10px;
    width: 25px;
    height: 25px;
    filter: invert(40%); }

.tag, .src {
  transition-duration: 0.3s;
  color: #091fc8; }

.tag:hover, .src:hover {
  text-decoration: underline;
  transition-duration: 0.3s; }

.new_notif {
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 50%;
  background-color: red;
  width: 5px;
  height: 5px; }

.friends_status {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #616161; }

.online {
  background-color: #09c309; }

.smile-reaction {
  position: absolute;
  transition-duration: 0.2s;
  background: white;
  bottom: -10px;
  right: -20px;
  font-size: 15px;
  width: 40px;
  height: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); }
  .smile-reaction .smile {
    margin-right: 5px; }
    .smile-reaction .smile img {
      height: 15px;
      width: 15px; }
  .smile-reaction:hover {
    transition-duration: 0.2s;
    width: 60px;
    height: 30px;
    font-size: 20px; }
    .smile-reaction:hover img {
      height: 20px;
      width: 20px; }

.profile {
  width: 250px;
  min-width: 250px;
  background: #cfd3d7; }
  .profile .profile_photo {
    height: 30%;
    background-image: url("../user_photos/profile_girl.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover; }
  .profile .profile_main-info {
    padding: 10px 10px; }
    .profile .profile_main-info .profile_name {
      display: flex;
      align-items: center;
      font-size: 25px;
      font-weight: 600; }
      .profile .profile_main-info .profile_name .friends_status {
        margin-left: 10px; }
    .profile .profile_main-info .profile_description {
      font-size: 15px;
      color: #727171;
      margin-bottom: 20px; }
    .profile .profile_main-info .profile_social-media {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      .profile .profile_main-info .profile_social-media .social-media_icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        background: white;
        width: 25px;
        height: 25px;
        border-radius: 50%; }
        .profile .profile_main-info .profile_social-media .social-media_icon img {
          width: 20px;
          height: 20px;
          filter: invert(40%); }
    .profile .profile_main-info .profile_send-message {
      display: flex;
      width: 100%; }
      .profile .profile_main-info .profile_send-message .message_btn {
        margin-right: 5px;
        height: 30px;
        width: 80%; }
      .profile .profile_main-info .profile_send-message .other_btn {
        height: 30px;
        width: 30px; }
      .profile .profile_main-info .profile_send-message .message_btn:hover, .profile .profile_main-info .profile_send-message .other_btn:hover {
        transition-duration: 0.3s;
        background: blue; }
    .profile .profile_main-info .profile_other-info {
      margin-top: 15px; }
      .profile .profile_main-info .profile_other-info .block_name {
        font-size: 15px;
        color: #727171; }
      .profile .profile_main-info .profile_other-info .block_description {
        font-size: 20px;
        font-weight: 500; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-thumb {
  background-color: #c3c3c3;
  border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
