$page_height:953px;
$groups_width: 90px;
$current_group_window_width: 300px;
$profile_width:250px;
$channel_chat_width:100%;


$group_channels_height:350px;
$group_friends_height:300px;

$chat_header_height:$page_height*0.09;
$chat_messages_height:$page_height*0.83;
$chat_send_message_height:$page_height*0.079;

$profile_photo_height:30%;

%upper_line{
    border-top: 1px solid rgba(0, 0, 0, 0.093);
}

%bottom_line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.093);

}

%on_hover{
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: rgb(183, 181, 181);
    border-radius: 5px;
}

%button{
    color:white;
    font-size: 15px;
    font-weight: 500;
    background: #3577EF;
    border-radius: 5px;
    border: 0px;
    transition-duration: 0.3s;
    height: 30px;
}

.page{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
display:flex;
width: 100%;
height: $page_height;
}

.logo{
    display: flex;
    transition-duration: 0.3s;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    text-align: center;
    width: $groups_width - 35px;
    height:$groups_width - 35px;
    color:white;
    font-size: 30px;
    font-weight: 600;
    opacity: 0.4;
    &:hover{
        cursor: pointer;
        transition-duration: 0.3s;
        opacity: 1;
    }
}

.groups{
    max-width: $groups_width;
    min-width: $groups_width;
    max-height: $page_height;
    background: -webkit-linear-gradient(45deg, rgb(0, 0, 0), rgb(85, 92, 92));
    .group_list{
        width: 100%;
        height: 85%;
        .logo{
            margin: 10px auto 10px;
        }

    }
    .group_add{
        width: 100%;
        display: flex;
        justify-content: center;
        .logo{
            position: absolute;
            bottom:20px;
            font-family:Arial, Helvetica, sans-serif;
            background-color: rgb(59, 59, 59);
            font-size: 40px;
            font-weight: 10;
        }
    }

}

.clr__red{
    background-color: red;
}

.clr__green{
    background-color: green;
}

.clr__gold{
    background-color: gold;
}

.clr__purple{
    background-color: purple;
}

.clr__brown{
    background-color: brown;
}

.clr__orange{
    background-color: orange;
}

.clr__pink{
    background-color: pink;
}



.current_group_window{
    width: $current_group_window_width;
    min-width: $current_group_window_width;
    background: -webkit-linear-gradient(45deg, rgb(37, 37, 37), rgb(156, 161, 161));
    color: rgb(216, 215, 215);
    font-size:20px;
    .group_header{
        height: 150px;
        margin-bottom:50px;
        .group_ico{
            width: 25px;
            height: 25px;
            filter: invert(90%);
            transform: scale(-1, 1);
            padding-left:10px;
        }
        .group_info{
            height: 80%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img:hover{
                cursor: pointer;
            }
            .group_name{
                color: white;
                padding: 0 20px;
                width: 80%;
                font-size: 35px;
                font-weight: 500;
            }
            .group_settings{
                width: 20%;
            }
        }
        .group_other{
            display: flex;
            justify-content: left;
            align-items: center;
            height: 20%;
            padding: 0 20px ;
            &:hover{
                @extend %on_hover;
            }

        }
    }
    .block_name_with_amount{
        display: flex;
        height: 30px;
        align-items: center;
        text-transform: uppercase;
        .block_name{
            width: 80%;  
            padding: 0 20px;           
        }
        .block_amount{
            width: 20%;    
        }
    }
    .group_channels{
        height: $group_channels_height;
        min-height: 300px;
        max-height: $group_channels_height;
        font-weight: 500;
        .channels_list{
            overflow-y: scroll;
            width: 100%;
            height: $group_channels_height - 30px;
            min-height: 200px;
            max-height: $group_channels_height - 30px;
            .channel_info{
                display: block;
                padding-left:50px;
                transition-duration: 0.2s;
                height: 30px;
                &:hover{
                    @extend %on_hover
                }
            }
        }
    }
    .group_friends{
        .friends_list{
            overflow-y: scroll;
            max-height: 300px;
            .friends_info{
                transition-duration: 0.3s;
                height:50px;
                padding:10px 10px;
                display: flex;
                align-items: center;
                .friends_photo{
                    padding-left:15px;
                    & img{
                        image-rendering:auto;
                        width: 50px;
                        height: 50px;
                        border-radius: 10px;
                    }
                }
                .friends_nickname{
                    padding-left:15px;
                }

                &:hover{
                    @extend %on_hover
                }
            }

        }
    }
}

.channel_chat{
 width: $channel_chat_width;
 max-width: $channel_chat_width;
 min-width: 400px;
    .chat_header{
        color: rgb(187, 186, 186);
        font-size: 20px;
        height: $chat_header_height;
        display: flex;
        align-items: center;
        padding-left:35px  ;
    
        @extend %bottom_line;
        .chat_name{
            width: 50%;
            font-weight: 700;
            color: black;
            font-size: 30px;
        }
        .others_chat_options{
        display: flex;
            .people_in_chat{
                display: flex;
                padding-top:5px;
                img{
                    width: 15px;
                    height: 15px;
                    padding-right: 5px;
                }
            }
            .search_in_chat{
                margin: 0 0 0 50px;
                display: flex;
                align-items: center;
                width: 300px;
                border: 1px solid rgb(191, 191, 191);
                border-radius: 5px;
                input{
                    width: 100%;
                    padding: 10px 0 10px 10px;
                    margin:0 0 0 10px;
                    border:0px;
                    outline:none;
                }  
                img{
                    width: 30px;
                    height: 30px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .notif_and_info{
                margin-left:30px;
                padding-top:5px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    padding-left:10px;
                    width: 25px;
                    height: 25px;
                    filter: invert(40%);
                }
                .bell{
                    position: relative;
                    &:hover{
                        @extend %on_hover;
                        background: none;
                    }
                }
                .info:hover{
                    @extend %on_hover;
                    background: none;
                }
            }
        }
        @media (max-width:1380px)
        {
            &{
                margin-left:30px;
                display: block;
            }
        }
    }
}

.chat-messages{
    overflow-y: scroll;
    height: $chat_messages_height;
    .message{
        margin: 20px 0 20px 10px;
        display: flex;
       .profile_photo{
        width: 50px;
        padding: 0 20px 0 10px;
           img{
               image-rendering: optimizeQuality;
               width: 50px;
               height: 50px;
               border-radius: 10px;
           }
       }
       .date-info{
        display: flex;
        align-items: center;
        width: 100%;
        color: rgba(0, 0, 0, 0.329);;
        .left-line,.right-line {
           height: 1px;
           width: 100%;
           background-color: rgba(0, 0, 0, 0.093);
           
        }
        .date-text{
            padding: 0 15px;
            white-space: nowrap;
        }
       }
       .message-info{
        display: inline;
        .message-header{
            font-size: 14px;
            display: flex;
            .name{
                font-weight: 600;
            }
            .time{
                padding: 0 0 0 10px;
                color: rgb(187, 186, 186);
            }
        }
        .text-info{
            font-size: 17px;
            
        }
        .images-info{
            display: flex;
            .attached_photo{
                position: relative;
                width: 200px;
                height: 150px;
                border-radius: 5px;
            }
        }
       }
    }

}

.chat_send-message{
    height:$chat_send_message_height;
    @extend %upper_line;
    display: flex;
    align-items: center;
    width: 100%;
    .send-message{
        width: 100%;
        input{
            width: 100%;
            font-size: 15px;
            padding: 10px 0 10px 10px;
            margin:0 0 0 10px;
            border:0px;
            outline:none;
        }  
    }
    .send-message-functions{
        display: flex;
        align-items: center;
    }
    .send_reaction{
        margin-right:30px;
    }
    img{
        padding-left:10px;
        width: 25px;
        height: 25px;
        filter: invert(40%);
        &:hover{
            cursor: pointer;
        }
    }
}


.tag, .src{
    transition-duration: 0.3s;
    color: rgb(9, 31, 200)

}
.tag:hover, .src:hover{
    cursor: pointer;
    text-decoration: underline;
    transition-duration: 0.3s;
}


.new_notif{
    position: absolute;
    right: 0px; top: 0px;
    border-radius: 50%;
    background-color: red;
    width: 5px;
    height: 5px;
}

.friends_status{
    width: 8px;
    height:8px;
    border-radius: 50%;
    background-color: rgb(97, 97, 97)
}
.online{
    background-color: rgb(9, 195, 9);
}

.smile-reaction{
    position: absolute;
    transition-duration: 0.2s;
    background: white;
    bottom:-10px;right: -20px;
    font-size:15px;
    width: 40px;
    height: 20px;
    border-radius: 5px;
    display: flex;
    padding-top:3px;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    .smile{
      margin-right:5px;
      img{
          height: 15px;
          width: 15px;
      }
    }
    &:hover{
        cursor: pointer;
        transition-duration: 0.2s;
        width: 60px;
        height: 30px;
        font-size:20px;
        img{
            height: 20px;
            width: 20px;
        }
    }
}

.profile{
    width: $profile_width;
    min-width:$profile_width;
    background: rgb(207,211,215);
    .profile_photo{
        height: $profile_photo_height;
        background-image: url('../user_photos/profile_girl.jpg');
        background-repeat: no-repeat;
        background-position:right;
        background-size: cover;

    }
    .profile_main-info{
        padding:10px 10px;
        .profile_name{
            display: flex;
            align-items: center;
            font-size: 25px;
            font-weight: 600;
            .friends_status{
                margin-left:10px;
            }
        }
        .profile_description{
            font-size: 15px;
            color: rgb(114, 113, 113);
            margin-bottom:20px;

        }
        .profile_social-media{
            display: flex;
            align-items: center;
            margin-bottom:10px;
            
            .social-media_icon{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right:10px;
                background: white;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                img{
                    width: 20px;
                    height: 20px;
                    filter: invert(40%);
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .profile_send-message{
            display: flex;
            width: 100%;
            .message_btn{
                @extend %button;
                margin-right:5px;
                height: 30px;
                width: 80%;
            }
            .other_btn{
                @extend %button;
                height: 30px;
                width: 30px;
            }
            .message_btn:hover,.other_btn:hover{
                cursor: pointer;
                transition-duration: 0.3s;
                background: blue;
            }
        }
        .profile_other-info{
            margin-top:15px;
            .block_name{
                font-size: 15px;
                color: rgb(114, 113, 113);
            }
            .block_description{
                font-size: 20px;
                font-weight: 500;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 8px;              
  }

::-webkit-scrollbar-thumb {
    background-color: rgb(195, 195, 195);   
    border-radius: 10px;       

  }